body {
    width: auto;
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}
.contenedor-gatito{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gato {
    padding: 5px;
    display: grid;
    grid-column: auto;
    justify-items: center;
}

h1.fnt-blue{
    color: #00304E;
    font-size: 30px;
}
p.fnt-blue{
    color: #252850;
}
span.fnt-red{
    color: red;
}
#nombre_alumno{
    text-decoration: underline rgb(0, 0, 0);
}
div.totalbici{
    display: flex;
    flex-direction: row;
    align-content: center;
}
div.ventabici{
    background-color: white;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
}
div.imagenbici{
    
    position: relative;
    height: 150px;
    width: 300px;
    
     
}
img.bici{
    
    
    
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
div.letrabici{
    margin-left: 5px;
    display: grid;
    grid-column: auto;
    text-align: center;
}
p.precio{
    font-size: 25px;
    font-family: fantasy;
    margin: 0;
    margin-top: 15px;
    
}
p.producto{
    font-size: 18px;
    color: black;
    margin-bottom: 0;
}
p.descipcion{
    color: rgb(110, 108, 108);
}
div.iconobici{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 300px;
    position: relative;
    align-content: center;
    align-items: center;
}
div.icon1{
    width: 140px;
    height: 140px;
    position: relative;
    align-content: center;
    margin-left: 10px;
    border-right: 1px solid rgb(153, 143, 143);
    
}
div.icon2{
    width: 140px;
    height: 140px;
    position: relative;
    align-content: center;
    margin-left: 10px;
    
}
img.icon{
    position: absolute;
    object-fit: cover;
    width: 90%;
    height: 90%;
    
    
}
div.contertotal{
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    margin: 0;
    
}
div.sub1{
    width: 500px;
    height: 50px;
    background-color: blue;
    position: absolute;
    
}
div.sub2{
    position: relative;
}
div.sub3{
    width: 500px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 509px;
}
p.franjasu{
   
    text-align: center;
    color: white;
    font-weight: bolder
}
p.franjain{
    text-align: center;
    color: white;
    font-weight: bolder
}
a.volvercentro{
    position: absolute;
    top: 100px;
}


div.sub2{
    text-align: center;
    align-items: center;
    align-content: center;
}
/*div.rectangulofondo{
    width: 1000px;
    height: 500px;
    background-color: #F5F5DD;
    align-content: center;
}*/
div.rectsub{
    width: 50%;
    height: 250px;
    background-color: #A62D2D;
    position: relative;
    top: 125px;
    left: 250px;
    
}
div.circu1{
    
    width: 100px;
    height: 100px;
    background-color: #F5F5DD;
    border: 5px solid #A62D2D;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
}
div.circu2{
    width: 100px;
    height: 100px;
    background-color: #F5F5DD;
    border: 5px solid #A62D2D;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -50px;
}
div.circu3{
    width: 100px;
    height: 100px;
    background-color: #F5F5DD;
    border: 5px solid #A62D2D;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -50px;
}
div.circu4{
    width: 100px;
    height: 100px;
    background-color: #F5F5DD;
    border: 5px solid #A62D2D;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: -50px;
}
div.cuadradotota1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 1200px;
    height: 900px;
    align-items: center;
}
div.cuadrado1{
    display: grid;
    grid-row: auto;
    top: 100px;
}
div.cuadraditos2{
    
    margin-top: 4px;
}
.fa-anchor{
    font-size: 100px;
    background-color: blue;
    width: 125px;
    color: #A62D2D;
}
.fa-anchor-circle-check{
    font-size: 100px;
    background-color: rgb(255, 102, 0);
    color: #e2cdcd;
}
.fa-anchor-circle-exclamation{
    font-size: 100px;
    background-color: rgb(238, 3, 160);
    color: #1d1919;
}
.fa-anchor-circle-xmark{
    font-size: 100px;
    background-color: rgb(214, 117, 38);
    color: #4a40cf;
}